.ntl-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-black);
}
.ntl-group p {
  text-align: center;
  font-family: "Montserrat Medium", sans-serif;
}
.ntl-form-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.ntl-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ntl-form-container h2 {
  text-align: left;
  font-family: "Montserrat SemiBold", sans-serif;
  letter-spacing: var(--spacing-xxs);
}
.formGroup {
  margin-bottom: var(--margin-md);
}
.formGroup input {
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat Medium", sans-serif;
  color: var(--color-black-800) !important;
  font-size: var(--font-size-input);
  padding: var(--padding-md);
  border: none;
  outline: none;
}
.passwordGroup {
  display: flex;
  background-color: var(--color-white);
  margin-bottom: var(--margin-md);
}
.passwordGroup input {
  background-color: transparent;
}
.passwordGroup button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 var(--padding-md);
}
.icon-btn svg {
  color: var(--color-black-800);
}
.passwordGroup button:hover > svg {
  fill: var(--color-primary);
}
.submit-btn {
  width: 100%;
  background-color: transparent;
  color: var(--color-white);
  font-family: "Montserrat SemiBold", sans-serif;
  cursor: pointer;
  padding: var(--padding-md);
  border: 2px solid var(--color-white) !important;
  font-size: var(--font-size-button);
}
.options-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-sm);
}
.opt-btn {
  padding: var(--padding-md) 0;
  border: 1px solid var(--color-white);
  width: 100%;
  background-color: transparent;
  color: var(--color-white);
  font-family: "Montserrat Regular", sans-serif;
  cursor: pointer;
}
