.profile-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem 2rem 2rem;
}
.profile-info h1 {
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: var(--font-size-display-sm);
}
.profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Montserrat Light", sans-serif;
  font-size: var(--font-size-caption);
  gap: 1rem;
}
.profile-titles p {
  font-family: "Montserrat Regular", sans-serif;
  font-size: var(--font-size-caption);
  line-height: 1rem;
}
.profile-avatar {
  background-color: #e8e8e8;
  height: 125px;
  width: 125px;
  border-radius: 100px;
}