.profile-head {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  margin: 0 2rem 2rem 2rem;
}
.profile-info h1 {
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: var(--font-size-display-sm);
}
.profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  font-family: "Montserrat Light", sans-serif;
  font-size: var(--font-size-caption);
}
.profile-titles p {
  font-family: "Montserrat Regular", sans-serif;
  font-size: var(--font-size-caption);
  line-height: 1rem;
}
.profile-avatar {  
  text-align: center;
}

.private-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
.private-content h2 {
  padding: 1rem;
  margin: 0;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: var(--font-size-body-lg);
}
.private-content p {
  padding: 0;
  margin: 0;
  font-family: "Montserrat Regular", sans-serif;
  font-size: var(--font-size-body);
}